<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.oplus.framework.rro.oneplus" platformBuildVersionCode="31" platformBuildVersionName="12">
    <application android:allowBackup="false" android:extractNativeLibs="false" android:hasCode="false"/>
    <overlay android:category="category.oplus.framework.res" android:isStatic="true" android:priority="1000" android:targetPackage="oplus"/>
</manifest>