<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.google.android.cellbroadcastservice.overlay" platformBuildVersionCode="31" platformBuildVersionName="12">
    <overlay android:isStatic="true" android:priority="0" android:targetName="CellBroadcastServiceCustomization" android:targetPackage="com.google.android.cellbroadcastservice"/>
    <compatible-screens/>
    <application android:hasCode="false" android:label="CellBroadcastServiceModuleOverlay">
        <meta-data android:name="br" android:value="0,1,2"/>
        <meta-data android:name="area" android:value="domestic,export,gdpr"/>
    </application>
</manifest>